<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE Post</title>
</head>
<body>
    <h1>CREATE Post</h1>
    <a href="/posts">Go to Posts</a>
    <form action="/posts/create" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="img" placeholder="Image">
        <textarea name="content" cols="30" rows="10" placeholder="Content"></textarea>
        <button>CREATE Post</button>
    </form>
</body>
</html>