<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/posts">Posts</a>
    {% if user.is_authenticated %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.username }}</p>
        <a href="/auth/logout">LogOut</a>
    {% else %}
        <br>
        <a href="/auth/login">Login</a>
        <br>
        <a href="/auth/signup">SignUp</a>
    {% endif %}
</body>
</html>