<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <h1>Posts</h1>
    <a href="/">Home</a>
    <br>
    <a href="/recent-posts">Sort then by publication date</a>

    <section class="container">
        <div class="row">
        {% for post in posts %}
        <div class="col-12 col-md-4 col-lg-3 g-2">
            <article class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <a href="/posts/{{ post.id }}">Go there</a>
                    <p>{{ post.created_date }}</p>
                    <p class="card-text">{{ post.description }}</p>
                </div>
                <img class="card-img-bottom" src="{{ post.img }}" alt="{{ post.title }}" width="200" height="200">
            </article>
        </div>
        {% endfor %}
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>